// http://ionicframework.com/docs/v2/theming/


// App Shared Imports
// --------------------------------------------------
// These are the imports which make up the design of this app.
// By default each design mode includes these shared imports.
// App Shared Sass variables belong in app.variables.scss.

@import "../pages/about/about";

@import "../pages/contact/contact";

@import "../pages/home/home";

// .login{
// 	background-color: #00695C;
// 	color: #fff;
// }

.toolbar-content{
	ion-title{
		padding-right: 56px;
	}
}