<ion-header>
  <ion-navbar>
    <button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-center>Compras</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="purchases" text-center>
	<button (click)="openCash()">Comprar créditos</button>
	<br><br>
	<h4 *ngIf="foundPurchases.length <= 0">Nenhuma compra encontrada</h4>
	<ion-list text-left>
		<button *ngFor="let purchase of foundPurchases" ion-item class="item" (click)="openPurchase(purchase)">
			<ion-icon item-left class="icon-md icon-md-secondary item-icon ion-md ion-md-cash"></ion-icon>
			{{ purchase.value }} - {{ purchase.created_at }}
		</button>
	</ion-list>
</ion-content>
