<ion-menu [content]="content">

  <ion-toolbar text-center style="padding: 20px 0">
    <br>
    <img src="img/logo-3.png" style="height: 100px">
    <div *ngIf="customer">
      <br>
      <span style="color: #fff;">
      {{ customer.name }}
      </span>
      <br>
      <span style="color: #fff;">
        <small>Saldo: {{ customer.cash }}</small>
      </span>
    </div>
    <br>
  </ion-toolbar>

  <ion-content>
    <ion-list>
      <button ion-item *ngFor="let p of pages" (click)="openPage(p)">
        <ion-icon item-left class="icon-md icon-md-secondary item-icon ion-md-{{ p.icon }}"></ion-icon>
        {{p.title}}
      </button>
      <button ion-item (click)="logout()">
        <ion-icon item-left class="icon-md icon-md-secondary item-icon ion-md-exit"></ion-icon>
        Sair
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<ion-nav id="nav" #nav [root]="rootPage" #content swipe-back-enabled="true"></ion-nav>