<ion-header>
  <ion-navbar>
    <button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-center>Multas</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="penalties" text-center>
	<h4 *ngIf="foundPenalties.length <= 0">Nenhuma multa encontrada</h4>
	<ion-list>
		<button *ngFor="let penalty of foundPenalties" ion-item class="item" (click)="openPenalty(penalty)">
			<ion-icon item-left class="icon-md icon-md-secondary item-icon ion-md" [class.ion-md-close]="penalty.expired == true" [class.ion-md-timer]="penalty.penalty_payment == null && penalty.expired == false" [class.ion-md-done-all]="penalty.penalty_payment != null"></ion-icon>
			{{ penalty.plate.code }} - {{ penalty.created_at }}
		</button>
<!-- 		<button ion-item class="item">
			<ion-icon item-left class="icon-md icon-md-secondary item-icon ion-md ion-md-done-all"></ion-icon>
			ABC-1234 - 05/11/16 11:28
		</button>
		<button ion-item class="item">
			<ion-icon item-left class="icon-md icon-md-secondary item-icon ion-md ion-md-close"></ion-icon>
			ABC-1234 - 01/11/16 16:57
		</button> -->
	</ion-list>
</ion-content>
