<ion-header>
  <ion-navbar>
    <button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-center>Tickets</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="activations">
	<h4 *ngIf="foundActivations.length <= 0">Nenhuma ticket ativado encontrado</h4>
	<ion-list>
		<button *ngFor="let activation of foundActivations" ion-item class="item" (click)="openActivation(activation)">
			<ion-icon item-left class="icon-md icon-md-secondary item-icon" [class.ion-md-time]="activation.remaining > 0" [class.ion-md-done-all]="activation.remaining <= 0"></ion-icon>
			{{activation.plate.code}} - {{activation.created_at}}
		</button>
	</ion-list>
</ion-content>
