<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Home" tabIcon="home"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Tickets" tabIcon="list"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Multas" tabIcon="pricetag"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="Compras" tabIcon="cash"></ion-tab>
</ion-tabs>
